<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
	
<suite name="SuiteMascopet" parallel="false">
	<listeners>
        <listener class-name="main.java.utils.GG_SuiteListener"/>
    </listeners>
    <test name="TestMascopet">
        <classes>
            <class name="test.java.carritocompras.CC_Test"/>
        </classes>
    </test>
</suite>